
underlay:
{% for host in groups['leaf'] %}
{% if inventory_hostname == host %}
    leaf: true
{% endif %}
{% endfor %}
    local:
        asn: {{ underlay_as }}
    neighbors:
{% for portname, portlist in topo[inventory_hostname].iteritems() %}
{% if portlist.type is defined and portlist.type == "ebgp" %}
      - interface: {{ portlist.name }}
        name: {{ portlist.peer }}
        asn: {{ hostvars[portlist.peer].underlay_as }}
{% if portlist.linkend == 1 %}
        peer_ip: {{ p2p[portlist.link][2]}}
{% else %}
        peer_ip: {{ p2p[portlist.link][1]}}
{% endif %}
        local_ip: {{ p2p[portlist.link][portlist.linkend]}}
{% endif %}
{% endfor %}
